.form {
  display: flex;
  gap: 50px;
  padding: 40px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;

  &__li {
    font-size: 22px;
    font-weight: 600;
  }

  &__box {
    border: none;
    border-radius: 12px;
  }

  &__map {
    width: 500px;
  }
}

.data {
  user-select: none;
}
