
.layout {
    display: flex;
    min-height: 100vh;    
}

.left_side {
    background-color: antiquewhite;
    width: 200px;
    height: 100vh;
    position: relative;
}

.right_side {
    padding: 20px;
}