.sidebar {
  width: inherit;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  padding: 20px;
  background-color: antiquewhite;

  ul {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
  }
}


.select {
  width: 70px;
}