* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;

  ul, a {
    color: inherit;
    text-decoration: none;
    list-style: none;
  }

  button {
    cursor: pointer;
  }

  iframe {
    width: 100%;
  }
}
html {
  scroll-behavior: smooth;
  ::-webkit-scrollbar {
    width: 0px;
  }
}
.active {
  color: red;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.input {
  display: flex;
  align-items: center;
  column-gap: 12px;
  button {
    margin-bottom: 25px;
  }
}
.column {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.img {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
