* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // font-family: 'Manrope', sans-serif;

  ul, a {
    color: inherit;
    text-decoration: none;
    list-style: none;
  }

  button {
    cursor: pointer;
  }

  iframe {
    width: 100%;
  }
}
html {
  scroll-behavior: smooth;
  ::-webkit-scrollbar {
    width: 0px;
  }
}
.active {
  color: red;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.input {
  display: flex;
  align-items: center;
  column-gap: 12px;
  button {
    margin-bottom: 25px;
  }
}
.column {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.img {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.buttonIndex {
  position: relative;
  z-index: 1;
  button {
    z-index: 1;
  }
}

// .modal {
//   transition: all 1s;
// }

.gap {
  height: 100%;
  width: 6px;
  background-color: aqua;
}

.just_row {
  display: flex;
  align-items: center;
}

.table-container {
  z-index: -1;
}

.form {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 100;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 10px;

  .form_in {
    width: 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .toggle-Lang {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    
  }
}
